<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
            xmlns:jpa="http://aries.apache.org/xmlns/jpa/v1.0.0"
            xmlns:tx="http://aries.apache.org/xmlns/transactions/v1.0.0">
    
	<reference id="QuoteService" interface="com.myrontuttle.fin.trade.api.QuoteService" />
	<reference id="ScreenerService" interface="com.myrontuttle.fin.trade.api.ScreenerService" />
	<reference id="WatchlistService" interface="com.myrontuttle.fin.trade.api.WatchlistService" />
	<reference id="AlertService" interface="com.myrontuttle.fin.trade.api.AlertService" />
	<reference id="PortfolioService" interface="com.myrontuttle.fin.trade.api.PortfolioService" />
	<reference id="TradeStrategyService" interface="com.myrontuttle.fin.trade.api.TradeStrategyService" />
	<reference id="AlertReceiverService" interface="com.myrontuttle.fin.trade.api.AlertReceiverService" />
	
	<bean id="GroupDAOImpl" class="com.myrontuttle.fin.trade.adapt.GroupDAOImpl" scope="singleton">
		<jpa:context unitname="AdaptPU" property="entityManager" />
      	<tx:transaction method="*" value="Required"/>
	</bean>
	
	<bean id="Evolver" class="com.myrontuttle.fin.trade.adapt.Evolver" scope="singleton">
		<property name="groupDAO" ref="GroupDAOImpl" />
	</bean>
	
	<service ref="GroupDAOImpl" interface="com.myrontuttle.fin.trade.adapt.GroupDAO" />
	
	<service ref="Evolver" interface="com.myrontuttle.fin.trade.adapt.EvolveService" />
	
	<bean id="PortfolioEvaluator" class="com.myrontuttle.fin.trade.adapt.PortfolioEvaluator">
		<property name="portfolioService" ref="PortfolioService" />
		<property name="groupDAO" ref="GroupDAOImpl" />
	</bean>
	
	<bean id="SATExpression" class="com.myrontuttle.fin.trade.adapt.express.SATExpression" >
		<property name="quoteService" ref="QuoteService" />
		<property name="screenerService" ref="ScreenerService" />
		<property name="watchlistService" ref="WatchlistService" />
		<property name="alertService" ref="AlertService" />
		<property name="portfolioService" ref="PortfolioService" />
		<property name="tradeStrategyService" ref="TradeStrategyService" />
		<property name="alertReceiverService" ref="AlertReceiverService" />
		<property name="groupDAO" ref="GroupDAOImpl" />
	</bean>
	
</blueprint>