<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
  			xmlns:jpa="http://aries.apache.org/xmlns/jpa/v1.1.0">
    
	<reference id="ScreenerService" interface="com.myrontuttle.fin.trade.api.ScreenerService" />
	<reference id="WatchlistService" interface="com.myrontuttle.fin.trade.api.WatchlistService" />
	<reference id="AlertService" interface="com.myrontuttle.fin.trade.api.AlertService" />
	<reference id="PortfolioService" interface="com.myrontuttle.fin.trade.api.PortfolioService" />
	<reference id="TradeStrategy" interface="com.myrontuttle.fin.trade.api.TradeStrategy" />
	<reference id="AlertReceiverService" interface="com.myrontuttle.fin.trade.api.AlertReceiverService" />
	
	<bean id="Evolver" class="com.myrontuttle.fin.trade.adapt.Evolver">
		<argument ref="ScreenerService" />
		<argument ref="WatchlistService" />
		<argument ref="AlertService" />
		<argument ref="PortfolioService" />
		<argument ref="TradeStrategy" />
		<argument ref="AlertReceiverService" />
		
		<jpa:context property="em" unitname="AdaptPersistanceUnit" />
	</bean>
	
</blueprint>