<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0" >

	<reference id="GroupDAO" interface="com.myrontuttle.fin.trade.adapt.GroupDAO" />
  
	<bean id="DBAccess" class="com.myrontuttle.fin.trade.web.data.DBAccess">
		<property name="groupDAO" ref="GroupDAO" />
	</bean>
	
	<reference id="EvolveService" interface="com.myrontuttle.fin.trade.adapt.EvolveService" />
  
	<bean id="EvolveAccess" class="com.myrontuttle.fin.trade.web.service.EvolveAccess">
		<property name="evolveService" ref="EvolveService" />
	</bean>
	
	<reference id="TradeStrategyService" interface="com.myrontuttle.fin.trade.api.TradeStrategyService" />
  
	<bean id="StrategyAccess" class="com.myrontuttle.fin.trade.web.service.StrategyAccess">
		<property name="tradeStrategyService" ref="TradeStrategyService" />
	</bean>
	
	<reference id="AlertReceiverService" interface="com.myrontuttle.fin.trade.api.AlertReceiverService" />
  
	<bean id="AlertReceiverAccess" class="com.myrontuttle.fin.trade.web.service.AlertReceiverAccess">
		<property name="alertReceiverService" ref="AlertReceiverService" />
	</bean>

	<reference id="ScreenerService" interface="com.myrontuttle.fin.trade.api.ScreenerService" />
  
	<bean id="ScreenerAccess" class="com.myrontuttle.fin.trade.web.service.ScreenerAccess">
		<property name="screenerService" ref="ScreenerService" />
	</bean>
	
	<reference id="WatchlistService" interface="com.myrontuttle.fin.trade.api.WatchlistService" />
  
	<bean id="WatchlistAccess" class="com.myrontuttle.fin.trade.web.service.WatchlistAccess">
		<property name="watchlistService" ref="WatchlistService" />
	</bean>
	
	<reference id="PortfolioService" interface="com.myrontuttle.fin.trade.api.PortfolioService" />
  
	<bean id="PortfolioAccess" class="com.myrontuttle.fin.trade.web.service.PortfolioAccess">
		<property name="portfolioService" ref="PortfolioService" />
	</bean>

	<service interface="org.ops4j.pax.wicket.api.WebApplicationFactory" >
		<service-properties>
			<entry key="pax.wicket.applicationname" value="fin.trade.adapt" />
			<entry key="pax.wicket.mountpoint" value="trade/adapt" />
		</service-properties>
		<bean class="org.ops4j.pax.wicket.api.support.SimpleWebApplicationFactory" >
			<property name="wicketApplication" value="com.myrontuttle.fin.trade.web.Application" />
		</bean>
	</service>
 
</blueprint>