<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0" >

	<reference id="StrategyDAO" interface="com.myrontuttle.fin.trade.adapt.StrategyDAO" />
  
	<bean id="DBAccess" class="com.myrontuttle.fin.trade.web.DBAccess">
		<property name="strategyDAO" ref="StrategyDAO" />
	</bean>
	
	<reference id="EvolveService" interface="com.myrontuttle.fin.trade.adapt.EvolveService" />
  
	<bean id="EvolveAccess" class="com.myrontuttle.fin.trade.web.EvolveAccess">
		<property name="evolveService" ref="EvolveService" />
	</bean>

	<service interface="org.ops4j.pax.wicket.api.WebApplicationFactory" >
		<service-properties>
			<entry key="pax.wicket.applicationname" value="fin.trade.adapt" />
			<entry key="pax.wicket.mountpoint" value="trade/adapt" />
		</service-properties>
		<bean class="org.ops4j.pax.wicket.api.support.SimpleWebApplicationFactory" >
			<property name="wicketApplication" value="com.myrontuttle.fin.trade.web.WicketApplication" />
		</bean>
	</service>
 
</blueprint>